/* 
@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');
@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,500&display=swap"); */
@import url('https://fonts.googleapis.com/css2?family=Montserrat &display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
* {
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  font-size: 2vh;
  color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  margin: 0;
  overflow: scroll;
  max-width: 100vw;
  padding: 0;
  margin: 0;
  background-color: #f7f6f0;
}

.container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100vw;
  /* height: 100%;
  overflow: hidden; */

  padding: 0;
  margin: 0;
}


h2 {
  font-size: 2.5em;
  padding: 0px;
  border: 0px;
  text-shadow:0 0 2px #362247;
  font-family: "Montserrat", sans-serif;
}

h3 {
  font-size: 1.5em;
}

.form-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 20px ;
  border: 5px solid ;
  background-color: #3b2d5e;
  color: white;
  font-weight: 60px;
  border-radius: 2px;
}

.form-wrapper {
  /* background-color: #fff; */
  border-radius: 5px;
  /* box-shadow: 0 2px 2px rgba(0, 0, 0, 0.3); */
  /* width: 400px; */
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding-bottom: 20px;
}

.logo, .title {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  /* margin-top: 30px; */
}

/* .header {
  display: flex;
  border-bottom: 1px solid #f0f0f0;
  background-color: #f7f7f7;
  padding: 0;
  margin: 0;
  width: 85%;
} */

.signup-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 30vh; 
  /* width: 25vw; */
  /* background-color: #f09d51; */
}

.form-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.form {
  padding: 0;
  margin: 0;
  width: 100%;
}

.form-control {
  margin-bottom: 10px;
  padding-bottom: 20px;
  position: relative;
  padding-left: 15px;
  padding-right: 15px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

label {
  display: inline-block;
  /* width: 20vw; */
  text-align: right;
  margin-right: 30px;
  left: 0px;

}
.form-control {
  display: flex;
  justify-items: left;
}
.form-control label {
  /* margin-bottom: 5px; */
  width: 20vw;
}

.form-control input {
  border: 1px solid #362c36;
  border-radius: 2px;
  display: block;
  font-family: inherit;
  font-size: 14px;
  padding: 10px;
  width: 40vw;
  max-width: 450px;
  height: 40px;
}

.form-control input:focus {
  outline: 0;
  border-color: #777;
}

.form-control.success input {
  border-color: #2ecc71;
}

.form-control i {
  visibility: hidden;
  position: absolute;
  top: 40px;
  right: 10px;
}

.form-control.success i .fa-check-circle {
	color: #2ecc71;
	visibility: visible;
}

.form-control.error i .fa-exclamation-circle {
	color: #e74c3c;
	visibility: visible;
}

.form-control small {
	color: #e74c3c;
	position: absolute;
	bottom: 0;
	left: 0;
	visibility: hidden;
}

.form-control.error small {
	visibility: visible;
}

.button {
	background-color: black;
	border: 2px solid #f7f6f0;
	border-radius: 4px;
	color:white;
	display: block;
	font-family: inherit;
  font-size: 20px;
  font-weight: 30px;
	padding: 5px;
	/* margin-top: 20px; */
  width: 30%;
  border-bottom: px;
}

/* @media screen and (min-width: 968px) {
  .form-container {
    display: flex;
    flex-direction: column;
  }
} */
p {
  font-size: 10px;
}